
.w1350{
	width: 1350px;
	margin: 0 auto;
}
.jin-main{
	width: 1350px;
	margin: 0 auto;
	margin-top: 40px;
}

.jin1{
	width: 975px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 55px;
}
.jin1 span{
	font-size: 19px;
}